In [39]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
import math

In [2]:
data=pd.read_csv('3D_spatial_network.txt')
data=data.drop(columns='serial')
data.head()

   latitude  longitude   altitude
0  9.349849  56.740876  17.052772
1  9.350188  56.740679  17.614840
2  9.350549  56.740544  18.083536
3  9.350806  56.740484  18.279465
4  9.351053  56.740486  18.422974

In [15]:
x=data[["latitude","longitude"]]
y=data["altitude"].values.reshape(-1,1)
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.23,random_state=24)

334852
100022

In [36]:
reg=LinearRegression().fit(x_train, y_train)
print(reg.coef_)
print(reg.intercept_)

[[  4.46580664 -12.25742064]]
[678.42872852]

In [37]:
y_pred=reg.predict(x_test)

In [38]:
r2=metrics.r2_score(y_test, y_pred)
mse=metrics.mean_squared_error(y_test, y_pred)
rmse=math.sqrt(mse)
print(r2)
print(rmse)

0.02634417974138692
18.39589134481614